.formulario{
    border: solid blue 7px;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: aqua;
}
.boton{
    padding: 40px;
}
nav{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
nav .item{
    padding: 5px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: aquamarine;
    border: solid blue 2px;
}
.down{

}
.next{
    box-sizing: border-box;
    width: 50%px;
}